apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-spring
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/lukas-camilo/k8s-teste.git'
    targetRevision: HEAD
    path: .
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true